html, body
{
	margin: 0px;
	padding: 0px;
}

.container
{
	width: 600px;
	height: 600px;
	margin: 100px auto 0px;
	background-color: yellow;
}

table
{
	border-collapse: collapse;
}

td
{
	width: 60px;
	height: 60px;
}
